body {
  //background-color: rgba(0, 150, 136, 0.3);
  font-family: 'NTR', sans-serif;
}
h1 {
  font-family: 'Raleway', sans-serif;
  }

.maincontent {
  background-color: white;
}

.footer {
  background-color: rgba(0, 150, 136, 0.3);
}
